.page.bpg-who-we-are,
.page.bpg-portfolio {
	.intro {
		padding: 30px 0 60px;

		&:after {
			left: $page-gutter-mobile;
			transform: translateX(0);
		}

		.title {
			font-size: 6vw;
		}

		.headline-4 {
			font-size: 5.3vw;
		}
	}

	.main-content {
		padding: 50px 0;

		.container {
			padding: 0 $page-gutter-mobile;
		}
	}

	.name-list {
		left: 0;

		li {
			text-align: left;
			margin-bottom: 35px;
			direction: ltr;
			white-space: normal;
		}

		h2 a {
			font-size: 9.5vw;
			padding-right: 30px;

			.icon-carrot-down {
				display: inline-block;
			}
		}
	}

	.bio-mobile {
		margin-top: 30px;
		p {
			margin-bottom: 20px;
			font-size: 4.2vw;
			line-height: 1.2;
		}
	}

	.active {
		.bio-mobile {
			display: block;
		}
	}


}