.page.home {
	.company-grid {
		.row:nth-child(2),
		.row:nth-child(3) {
		}

		.col {
			display: block;
		}

		.company-2 {
			padding-bottom: 52%;
			height: 0;
			margin-top: 50px;

		}
		.company-3 {
			padding-bottom: 130%;
			height: 0;
			margin-top: 50px;
		}

		.featured-description {
			padding-bottom: 0;
		}
	}
}